{% extends 'myapp/base.html' %}

{% block myheader %}
    <h1> Edit Profile </h1>
{% endblock myheader %}

{% block content %} 
    <form method="POST" action="">
        {% csrf_token %} <!-- Cross-site request forgery -->
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" 
            id="username" name="username"
            value="{{profile.user.username}}"require>
        </div>
        <div class="form-group">
            <label for="firstname">Firstname:</label>
            <input type="text" class="form-control" 
            id="firstname" name="firstname"
            value="{{profile.user.first_name}}"require>
        </div>
        <div class="form-group">
            <label for="lastname">Lastname:</label>
            <input type="text" class="form-control" 
            id="lastname" name="lastname"
            value="{{profile.user.last_name}}"require>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" 
            id="email" name="email"
            value="{{profile.user.email}}"require>
        </div>
        <div class="form-group">
            <label for="password">New-Password:</label>
            <input type="password" class="form-control"
            id="password" name="password" require>
        </div>
        <button type="submit" class="btn btn-primary">Edit Profile</button>
    </form>
    {% comment %} <p><a href="{% url 'register-page' %}"> Create New Account</a></p> {% endcomment %}
{% endblock content %} 