{% extends 'myapp/base.html' %}
{% load static %}

{% block myheader %}
    <link rel="stylesheet" href="{% static 'css/myCSS.css' %}">
    <h1> <center> Welcome to CoC Gaming Shop </center> </h1>

    {% if user.profile.usertype == 'vvip' %}
        <center> 15% Discount for VIP member </center>
    {% elif user.profile.usertype == 'vip' %}
        <center> 10% Discount for VIP member </center>
    {% elif user.profile.usertype == 'member' %}
        <center> 15% Discount for VIP member </center>
    {% endif %}

{% endblock myheader %}

{% block content %}

    <!-- <h1>This is the content from home. Hello from Loma.html</h1> -->

    <center>
        {% for data in pd %}
        <h1>{{ data.title }}</h1>
        <p>
            {{ data.description }} <br>
            price : {{ data.price }} <br>
            stock : {{ data.quantity }} <br>
        </p>
        <hr>
        {% endfor %}
    </center>

{% endblock content %} 